{
  "data_dir": "/var/lib/consul",
  "bind_addr": "0.0.0.0",
  "advertise_addr": "{{ public_ip }}",
  "addresses": {
    "dns": "0.0.0.0",
    "http": "0.0.0.0"
  },
  "retry_join": [
   {% for selected_host in groups['cluster_nodes']|reject("sameas", ansible_fqdn) %}{# @FIXME: Reject doesn't work #}
     "{{ hostvars[selected_host]['private_ip'] }}" {{ "," if not loop.last else "" }}
   {% endfor %}
  ],
  "bootstrap_expect": 3,
  "server": true,
  "ui": true,
  "ports": {
     "dns": 53
  },
  "encrypt": "{{ consul_gossip_encrypt }}",
  "domain": "2.cluster.deuxfleurs.fr",
  "performance": {
    "raft_multiplier": 10,
    "rpc_hold_timeout": "30s",
    "leave_drain_time": "30s"
  }
}
