addresses {
  http = "0.0.0.0"
  rpc = "0.0.0.0"
  serf = "0.0.0.0"
}

advertise {
  http = "{{ public_ip }}"
  rpc = "{{ public_ip }}"
  serf = "{{ public_ip }}"
}

data_dir = "/var/lib/nomad"

server {
  enabled          = true
  bootstrap_expect = 3
}

consul {
  address="127.0.0.1:8500"
}

client {
  enabled = true
  #cpu_total_compute = 4000
  servers = ["127.0.0.1:4648"]
  network_interface = "{{ interface }}"
}

